.container {
  width: 100%;
  flex: 1;
  background-color: #e5eaee;
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 14px;
  color: #1b283f;
  position: relative;
}

.container .chatMenu {
  position: absolute;
  width: 120px;
  padding: 10px 0px;
  border-radius: 5px;
  background-color: white;
  border: 1px solid #d6d6e0;
  box-sizing: border-box;
  box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.container .chatMenu .chatMenuItem {
  width: 100%;
  box-sizing: border-box;
  padding: 0px 10px;
  height: 32px;
  display: flex;
  align-items: center;
}

.container .chatMenu .chatMenuItem:hover {
  background-color: #d6d6e0;
}

.container .chatMenu .chatMenuItem .chatMenuItemLabel {
  cursor: pointer;
}
